[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "sdl_image"]
	path = sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "sdl"]
	path = sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/sdl_image"]
	path = vendor/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/klib"]
	path = vendor/klib
	url = git@github.com:kasouza/klib.git
